<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div>
    <a>标题：</a><a th:text="${letter.title}"></a>
</div>

<div>
    <a>内容：</a><a th:text="${letter.letterContent}"></a>
</div>

<div>
    <a>日期：</a><a th:text="${letter.startDate}"></a>
    <a>~~~~~~~</a>
    <a th:text="${letter.deadline}"></a></a>
</div>
<div>
    <a style="size:50px">想查看更多附件内容请下载迟书APP！</a>
</div>
</body>
</html>